<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To do list</title>

  <!-- No longer static, Express only serves up main access point (app.js) and views -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <!-- Google fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css">
</head>


<body>
